# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\React\axios learn\axios learn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
